{% extends 'app/chef/base.html' %}

{% block content %}

            <div class="panel-body">
              
              <div class="content-area">
                <div class="sub-bar">
                  <div class="sub-title">
                    <h4>Dashboard:</h4>
                    <span>Welcome To web Admin Panel!</span>
                  </div>
                  <ul class="bread-crumb">
                    <li><a href="#" title="">Home</a></li>
                    <li>Dashbord</li>
                  </ul>
                </div>
                <div class="gap no-gap">
                  <div class="inner-bg">
                    <div class="element-title">
                      <h4>Product Orders</h4>
                    </div>
                    <table class="cart-table table table-responsive">
                      <thead>
                        <tr>
                          <th>Product ID </th>
                          <th>Product name</th>
                          <th>photo</th>
                          <th>Price</th>
                          <th>Expirydate</th>
                          <th>Mfgdate</th>
						  <th>Detail</th>
						  <th>Status</th>
						  <th>Keywords</th>
						  <th>discount</th>
						  <th>Quantity</th>
						  <th>Action</th>
                        </tr>
                      </thead>
                      {% if key5 %}
                      {% for i in key5 %}
                      <tbody>
                        <tr>
                          <td>{{i.id}}</td>
                          <td>{{i.Productname}}</td>
                          <td><img src="{{MEDIA_URL}}{{i.Image.url}}" alt=""></td>
                          <td>{{i.Price}}</td>
						  <td>{{i.Expirydate}}</td>
						  <td>{{i.Mfgdate}}</td>
						  <td>{{i.Detail}}</td>
						  <td>{{i.Status}}</td>
						  <td>{{i.Keywords}}</td>
						  <td>{{i.discount}}</td>
						  <td>{{i.Quantity}}</td>
                          
                          <td><a href="{% url 'deleteproduct' pk=i.id %}" title=""><i class="icon-trash"></i></a> <a href="{% url 'editproduct' pk=i.id %}" title=""><i class="icon-pencil"></i></a></td>
                        </tr>
                        
                        
                      </tbody>
                      {% endfor %}
                      {% endif %}
                    </table>
                  </div>
                </div>
              </div>
              <div class="bottombar"> 
				<span>© 2019. Dewwater. All Rights Reserved.</span>
			</div>
              <!-- bottombar --> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="side-panel">
			<h4 class="panel-title">General Setting</h4>
			<form method="post">
				<div class="setting-row">
					<span>use night mode</span>
					<input type="checkbox" id="nightmode1"/> 
					<label for="nightmode1" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Notifications</span>
					<input type="checkbox" id="switch22" /> 
					<label for="switch22" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Notification sound</span>
					<input type="checkbox" id="switch33" /> 
					<label for="switch33" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>My profile</span>
					<input type="checkbox" id="switch44" /> 
					<label for="switch44" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Show profile</span>
					<input type="checkbox" id="switch55" /> 
					<label for="switch55" data-on-label="ON" data-off-label="OFF"></label>
				</div>
			</form>
			<h4 class="panel-title">Account Setting</h4>
			<form method="post">
				<div class="setting-row">
					<span>Sub users</span>
					<input type="checkbox" id="switch66" /> 
					<label for="switch66" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>personal account</span>
					<input type="checkbox" id="switch77" /> 
					<label for="switch77" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Business account</span>
					<input type="checkbox" id="switch88" /> 
					<label for="switch88" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Show me online</span>
					<input type="checkbox" id="switch99" /> 
					<label for="switch99" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Delete history</span>
					<input type="checkbox" id="switch101" /> 
					<label for="switch101" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Expose author name</span>
					<input type="checkbox" id="switch111" /> 
					<label for="switch111" data-on-label="ON" data-off-label="OFF"></label>
				</div>
			</form>
		</div><!-- side panel -->

{% endblock %}
