{% extends "app/base.html" %}

{% block content %}
{% load static %}
      
        <!-- banner section satrt here -->
        <section class="banner-area bg_size" style="background-image: url({% static '/assets/css/bg-image/banner-bg.jpg' %});">
            <div class="overlay"></div>
            <div class="container">
                <div class="banner-content text-center">
                    <span>Welcome to our foodbuzz</span>
                    <h2>It's The Food You Love</h2>
                    <h3>best for restaurant </h3>
                    <div class="banner-btn-group">
                        <a href="#" class="food-btn"><span>Order Now</span></a>
                        <a href="reserv.html" class="food-btn style-2"><span>Book A Table</span></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner section ending here -->
       


		<!-- About Section Start here -->
		

        <!-- Food Product Section Ending here -->
        
        <!-- Food Product Section Style 2 Start here -->
       
        <!-- Food Product Section Style 2 Ending here -->

        
        <!-- Booking Table Section Ending Here -->

        <!-- Team Member Section Ending here -->


          <!-- clients area ends -->


        <!-- Sponsor Section Start Here -->
		
        <!-- link area start -->
        <div class="news_link">
            <div class="container">
                <div class="order-content">
                    <div class="content-logo">
                        <a href="#">
                            <img src="{% static '/assets/images/logo/logo.png' %}" alt="logo">
                            <p>Good Food For Good Helts</p>
                        </a>
                    </div>
                    <div class="content-link">
                        <ul>
                            <li>
                                <h5>Work with best resturant theme</h5>
                            </li>
                            <li>
                                <a href="#" class="food-btn style-2">
                                    <span>Order Now</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- link area ends -->

{% endblock %}