{% extends "app/base.html" %}

{% block content %}               
        <!-- Page Header Section Start Here -->
        <section class="page-header style-2">
            <div class="container">
                <div class="page-title text-center">
                    <h3>Our Best Food Menu</h3>
                    <ul class="breadcrumb">
                        <li><a href="index-2.html">Home</a></li>
                        <li>Food Menu 2</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- Page Header Section Ending Here -->
       
        <!-- Food Product Section Style 2 Start here -->
        <section class="product style-2 padding-tb">
            <div class="container">
                <div class="section-wrapper">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="foodlist-item style-2">
                                <div class="product-header text-center">
                                    <div class="bg-shape">
                                        <img src="assets/images/product/header-image/bg.png" alt="shape">
                                    </div>
                                    <div class="ph-content">
                                        <img src="assets/images/product/header-image/01.png" alt="product-bg">
                                        <h5>Breakfast Menu</h5>
                                        <div class="rating">
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="tabcontent">
                                    <div class="row no-gutters">
                                        <div class="col-12">
                                            <div class="product-item style-2">
                                                <div class="product-thumb">
                                                    <img src="assets/images/product/01.jpg" alt="food-product">
                                                    <span class="price">$20</span>
                                                </div>
                                                <div class="product-content">
                                                    <div class="product-title">
                                                        <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                                        <div class="rating">
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="product-desc">
                                                        <p>Conveniently imaiipact are worldwide andng datang arovem theme with there</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="product-item style-2">
                                                <div class="product-thumb">
                                                    <img src="assets/images/product/02.jpg" alt="food-product">
                                                    <span class="price">$20</span>
                                                </div>
                                                <div class="product-content">
                                                    <div class="product-title">
                                                        <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                                        <div class="rating">
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="product-desc">
                                                        <p>Conveniently imaiipact are worldwide andng datang arovem theme with there</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="product-item style-2">
                                                <div class="product-thumb">
                                                    <img src="assets/images/product/03.jpg" alt="food-product">
                                                    <span class="price">$20</span>
                                                </div>
                                                <div class="product-content">
                                                    <div class="product-title">
                                                        <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                                        <div class="rating">
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="product-desc">
                                                        <p>Conveniently imaiipact are worldwide andng datang arovem theme with there</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="product-item style-2">
                                                <div class="product-thumb">
                                                    <img src="assets/images/product/04.jpg" alt="food-product">
                                                    <span class="price">$20</span>
                                                </div>
                                                <div class="product-content">
                                                    <div class="product-title">
                                                        <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                                        <div class="rating">
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="product-desc">
                                                        <p>Conveniently imaiipact are worldwide andng datang arovem theme with there</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="product-item style-2">
                                                <div class="product-thumb">
                                                    <img src="assets/images/product/03.jpg" alt="food-product">
                                                    <span class="price">$20</span>
                                                </div>
                                                <div class="product-content">
                                                    <div class="product-title">
                                                        <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                                        <div class="rating">
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="product-desc">
                                                        <p>Conveniently imaiipact are worldwide andng datang arovem theme with there</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="foodlist-item style-2">
                                <div class="product-header text-center">
                                    <div class="bg-shape">
                                        <img src="assets/images/product/header-image/bg.png" alt="shape">
                                    </div>
                                    <div class="ph-content">
                                        <img src="assets/images/product/header-image/02.png" alt="product-bg">
                                        <h5>lunch Menu</h5>
                                        <div class="rating">
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="tabcontent">
                                    <div class="row no-gutters">
                                        <div class="col-12">
                                            <div class="product-item style-2">
                                                <div class="product-thumb">
                                                    <img src="assets/images/product/05.jpg" alt="food-product">
                                                    <span class="price">$20</span>
                                                </div>
                                                <div class="product-content">
                                                    <div class="product-title">
                                                        <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                                        <div class="rating">
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="product-desc">
                                                        <p>Conveniently imaiipact are worldwide andng datang arovem theme with there</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="product-item style-2">
                                                <div class="product-thumb">
                                                    <img src="assets/images/product/06.jpg" alt="food-product">
                                                    <span class="price">$20</span>
                                                </div>
                                                <div class="product-content">
                                                    <div class="product-title">
                                                        <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                                        <div class="rating">
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="product-desc">
                                                        <p>Conveniently imaiipact are worldwide andng datang arovem theme with there</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="product-item style-2">
                                                <div class="product-thumb">
                                                    <img src="assets/images/product/07.jpg" alt="food-product">
                                                    <span class="price">$20</span>
                                                </div>
                                                <div class="product-content">
                                                    <div class="product-title">
                                                        <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                                        <div class="rating">
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="product-desc">
                                                        <p>Conveniently imaiipact are worldwide andng datang arovem theme with there</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="product-item style-2">
                                                <div class="product-thumb">
                                                    <img src="assets/images/product/08.jpg" alt="food-product">
                                                    <span class="price">$20</span>
                                                </div>
                                                <div class="product-content">
                                                    <div class="product-title">
                                                        <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                                        <div class="rating">
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="product-desc">
                                                        <p>Conveniently imaiipact are worldwide andng datang arovem theme with there</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="product-item style-2">
                                                <div class="product-thumb">
                                                    <img src="assets/images/product/09.jpg" alt="food-product">
                                                    <span class="price">$20</span>
                                                </div>
                                                <div class="product-content">
                                                    <div class="product-title">
                                                        <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                                        <div class="rating">
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="product-desc">
                                                        <p>Conveniently imaiipact are worldwide andng datang arovem theme with there</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="foodlist-item style-2">
                                <div class="product-header text-center">
                                    <div class="bg-shape">
                                        <img src="assets/images/product/header-image/bg.png" alt="shape">
                                    </div>
                                    <div class="ph-content">
                                        <img src="assets/images/product/header-image/03.png" alt="product-bg">
                                        <h5>dinner Menu</h5>
                                        <div class="rating">
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="tabcontent">
                                    <div class="row no-gutters">
                                        <div class="col-12">
                                            <div class="product-item style-2">
                                                <div class="product-thumb">
                                                    <img src="assets/images/product/10.jpg" alt="food-product">
                                                    <span class="price">$20</span>
                                                </div>
                                                <div class="product-content">
                                                    <div class="product-title">
                                                        <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                                        <div class="rating">
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="product-desc">
                                                        <p>Conveniently imaiipact are worldwide andng datang arovem theme with there</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="product-item style-2">
                                                <div class="product-thumb">
                                                    <img src="assets/images/product/11.jpg" alt="food-product">
                                                    <span class="price">$20</span>
                                                </div>
                                                <div class="product-content">
                                                    <div class="product-title">
                                                        <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                                        <div class="rating">
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="product-desc">
                                                        <p>Conveniently imaiipact are worldwide andng datang arovem theme with there</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="product-item style-2">
                                                <div class="product-thumb">
                                                    <img src="assets/images/product/12.jpg" alt="food-product">
                                                    <span class="price">$20</span>
                                                </div>
                                                <div class="product-content">
                                                    <div class="product-title">
                                                        <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                                        <div class="rating">
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="product-desc">
                                                        <p>Conveniently imaiipact are worldwide andng datang arovem theme with there</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="product-item style-2">
                                                <div class="product-thumb">
                                                    <img src="assets/images/product/13.jpg" alt="food-product">
                                                    <span class="price">$20</span>
                                                </div>
                                                <div class="product-content">
                                                    <div class="product-title">
                                                        <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                                        <div class="rating">
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="product-desc">
                                                        <p>Conveniently imaiipact are worldwide andng datang arovem theme with there</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="product-item style-2">
                                                <div class="product-thumb">
                                                    <img src="assets/images/product/08.jpg" alt="food-product">
                                                    <span class="price">$20</span>
                                                </div>
                                                <div class="product-content">
                                                    <div class="product-title">
                                                        <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                                        <div class="rating">
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="product-desc">
                                                        <p>Conveniently imaiipact are worldwide andng datang arovem theme with there</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="foodlist-item style-2">
                                <div class="product-header text-center">
                                    <div class="bg-shape">
                                        <img src="assets/images/product/header-image/bg.png" alt="shape">
                                    </div>
                                    <div class="ph-content">
                                        <img src="assets/images/product/header-image/04.png" alt="product-bg">
                                        <h5>drink Menu</h5>
                                        <div class="rating">
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="tabcontent">
                                    <div class="row no-gutters">
                                        <div class="col-12">
                                            <div class="product-item style-2">
                                                <div class="product-thumb">
                                                    <img src="assets/images/product/14.jpg" alt="food-product">
                                                    <span class="price">$20</span>
                                                </div>
                                                <div class="product-content">
                                                    <div class="product-title">
                                                        <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                                        <div class="rating">
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="product-desc">
                                                        <p>Conveniently imaiipact are worldwide andng datang arovem theme with there</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="product-item style-2">
                                                <div class="product-thumb">
                                                    <img src="assets/images/product/15.jpg" alt="food-product">
                                                    <span class="price">$20</span>
                                                </div>
                                                <div class="product-content">
                                                    <div class="product-title">
                                                        <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                                        <div class="rating">
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="product-desc">
                                                        <p>Conveniently imaiipact are worldwide andng datang arovem theme with there</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="product-item style-2">
                                                <div class="product-thumb">
                                                    <img src="assets/images/product/16.jpg" alt="food-product">
                                                    <span class="price">$20</span>
                                                </div>
                                                <div class="product-content">
                                                    <div class="product-title">
                                                        <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                                        <div class="rating">
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="product-desc">
                                                        <p>Conveniently imaiipact are worldwide andng datang arovem theme with there</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="product-item style-2">
                                                <div class="product-thumb">
                                                    <img src="assets/images/product/17.jpg" alt="food-product">
                                                    <span class="price">$20</span>
                                                </div>
                                                <div class="product-content">
                                                    <div class="product-title">
                                                        <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                                        <div class="rating">
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="product-desc">
                                                        <p>Conveniently imaiipact are worldwide andng datang arovem theme with there</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="product-item style-2">
                                                <div class="product-thumb">
                                                    <img src="assets/images/product/18.jpg" alt="food-product">
                                                    <span class="price">$20</span>
                                                </div>
                                                <div class="product-content">
                                                    <div class="product-title">
                                                        <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                                        <div class="rating">
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="product-desc">
                                                        <p>Conveniently imaiipact are worldwide andng datang arovem theme with there</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Food Product Section Style 2 Ending here -->

        <!-- link area start -->
        <div class="news_link">
            <div class="container">
                <div class="order-content">
                    <div class="content-logo">
                        <a href="#">
                            <img src="assets/images/logo/02.png" alt="logo">
                            <p>Good Food For Good Helts</p>
                        </a>
                    </div>
                    <div class="content-link">
                        <ul>
                            <li>
                                <h5>Work with best resturant theme</h5>
                            </li>
                            <li>
                                <a href="#" class="food-btn style-2">
                                    <span>Order Now</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- link area ends -->

{% endblock %}